{% load static %}
<!DOCTYPE html>
<html>
    <head>
       <title>Haritha's Blog</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
       <link rel="stylesheet" href = "{% static 'css/blog.css' %}">
       <style>
        body{
            align-content: center;
            background: linear-gradient(135deg, #b58678, #f4e3d7, #ffffff);
                }
       </style>
    </head>

    <body>
        <header>
            <h1 style="text-align: center; background-color: black; color:#b88978; margin: 0%;"><a href="/" >Haritha's Blog</a></h1>
        </header>
    </body>
    <main class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}

            </div>

        </div>

    </main>

</html>